@media all and (max-width: 400px){
    body{
        -webkit-text-size-adjust: none;
        background: whitesmoke;
        padding: 20px 5px 5px;
    }
    h1{
        color: lavender;
        text-shadow: 0 0 5px black;
        font-style: initial;
    }
    *{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}